
<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body>
    <% include partials/template/header.ejs %>


<div class="container ">
      <button onclick="topFunction()" id="myBtn" class="topBtn fa fa-chevron-up" title="Go to top"></button> 
        
        
        <div class="test">
        
        
        <div class="page-header">
          <h1>All Photos</h1>
        </div><!-- /page-header -->
        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley 
        of type and scrambled it to make a type specimen book.</p>
        </div><!-- /test -->
        
        
        
      <hr>
        
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail event-image">
            <a href="/images/resources.jpg" class="fancybox" rel="group">
            <img class="featurette-image img-responsive center-block" src="/images/resources.jpg" alt="Generic placeholder image">

            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail event-image">
            <a href="/images/resources.jpg" class="fancybox" rel="group">
            <img class="featurette-image img-responsive center-block" src="/images/resources.jpg" alt="Generic placeholder image">
            </a>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail event-image">
            <a href="/images/resources.jpg" class="fancybox" rel="group">
            <img class="featurette-image img-responsive center-block" src="/images/resources.jpg" alt="Generic placeholder image">
            </a>
          </div>
        </div>
      </div><!-- /row -->

      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail event-image">
            <a href="/images/resources.jpg" class="fancybox" rel="group">
            <img class="featurette-image img-responsive center-block" src="/images/resources.jpg" alt="Generic placeholder image">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail event-image">
            <a href="/images/resources.jpg" class="fancybox" rel="group">
            <img class="featurette-image img-responsive center-block" src="/images/resources.jpg" alt="Generic placeholder image">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail event-image">
            <a href="/images/resources.jpg" class="fancybox" rel="group">
            <img class="featurette-image img-responsive center-block" src="/images/resources.jpg" alt="Generic placeholder image">
            </a>
          </div>
        </div>
      </div><!-- /row -->

      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail event-image">
            <a href="/images/resources.jpg" class="fancybox" rel="group">
            <img class="featurette-image img-responsive center-block" src="/images/resources.jpg" alt="Generic placeholder image">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail event-image">
            <a href="/images/resources.jpg" class="fancybox" rel="group">
            <img class="featurette-image img-responsive center-block" src="/images/resources.jpg" alt="Generic placeholder image">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail event-image">
            <a href="/images/resources.jpg" class="fancybox" rel="group">
            <img class="featurette-image img-responsive center-block" src="/images/resources.jpg" alt="Generic placeholder image">
            </a>
          </div>
        </div>
      </div><!-- /row -->

      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail event-image">
            <a href="/images/resources.jpg" class="fancybox" rel="group">
            <img class="featurette-image img-responsive center-block" src="/images/resources.jpg" alt="Generic placeholder image">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail event-image">
            <a href="/images/resources.jpg" class="fancybox" rel="group">
            <img class="featurette-image img-responsive center-block" src="/images/resources.jpg" alt="Generic placeholder image">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail event-image">
            <a href="/images/resources.jpg" class="fancybox" rel="group">
            <img class="featurette-image img-responsive center-block" src="/images/resources.jpg" alt="Generic placeholder image">
            </a>
          </div>
        </div>
      </div><!-- /row -->

      <br>

    </div> <!-- /container -->

    <!-- Gallery of photos display -->
    <!-- Add jQuery library 
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>-->

<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="/javascripts/lib/jquery.mousewheel-3.0.6.pack.js"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="/javascripts/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/javascripts/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="/javascripts/source/jquery.fancybox.js?v=2.1.5"></script>

<script type="text/javascript">

  $(document).ready(function() {
  $('.fancybox').fancybox();
});
</script>

     <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>


  </body>
</html>