 <!-- Site footer -->
    <footer class="main-niaid-footer">
        <div class="container alignment-center-footer">
        <!-- Three columns  -->
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <h6 class="footer-links-heading align-center">connect</h6>
          
          <!-- Column One Media lINKS -->
          <ul class="list-inline footer-links align-center">
            <li><a class="footer-links" href="#" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
            <li><a class="footer-links" href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li><a class="footer-links" href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <!--<li><a class="footer-links" href="#"><i class="fa fa-commenting fa-lg"></i></a></li>-->
            <li><a class="footer-links" href="#" target="_blank"><i class="fa fa-youtube-play fa-lg"></i></a></li>
            <li><a class="footer-links" href="#" target="_blank"><i class="fa fa-pinterest-p fa-lg"></i></a></li>
          </ul><!-- Column One Media lINKS -->
          
        </div><!-- /.col-lg-4 -->
 
        <hr class="footer-columns-separator visible-xs ">
        
        <div class="col-sm-4 col-md-4 col-lg-4">
          <h6 class="footer-links-heading align-center">links</h6>
          
          <ul class="list-unstyled footer-links align-center">
          <li><a class="footer-links" href="/destination">Destination</a></li>
          <li><a class="footer-links" href="/book">Book Now</a></li>
          <li><a class="footer-links" href="/about">About Us</a></li>
          <li><a class="footer-links" href="/login">Login</a></li>
            
          </ul>
        </div><!-- /.col-lg-4 -->
        
        <hr class="footer-columns-separator visible-xs ">
        
        
        <div class="col-sm-4 col-md-4 col-lg-4">
          <h6 class="footer-links-heading align-center">call now</h6>
          
          <ul class="list-unstyled footer-links align-center">
            <p>786 XXX XXXX</p>
            
            
          </ul>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      
      <hr>
      
      
      <div class="row">
        
        
        <hr class="footer-columns-separator visible-xs">
        
        <div class="col-sm-12 col-md-12 col-lg-12">
          <address class="footer-address align-center">
         © 2017 TESRIDE. All Rights Reserved
      </address>
        </div><!-- /.col-lg-4 -->
        
        
        
       </div>
       </div>
      </footer>
