<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container ">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
          </button>

          <!--site logo and name will go here -->
          <!--site logo class was "navbar-brand" I change it to "navbar-brand-logo" -->
          <a class="navbar-brand-logo" href="/">
              <img class="img-responsive" src="/images/Tesla-Red.png"  width="115.694" height="auto"; alt="Generic placeholder image"></a>
          
          </div><!--site logo and name will go here -->
          
          
        <div id="navbar" class="navbar-collapse collapse">

      
          <ul class="nav navbar-nav navbar-right">
            <li <% if (title === 'Packages') { %>class="active" <% } %> ><a href="/packages">Packages</a></li>
            <li <% if (title === 'Products') { %>class="active" <% } %> ><a href="/products">Products</a></li>
            <li <% if (title === 'Gallery') { %>class="active" <% } %> ><a href="/gallery">Gallery</a></li>
            <li <% if (title === 'About') { %>class="active" <% } %> ><a href="/about">About Us</a></li>
           
          </ul>

          
          
        </div>
      </div>
    </nav>